DATABASE_URL = postgresql://<username>:<password>@localhost/EasyBus?schema=public
PORT = 3000


EMAIL_USER = example@domain.com
EMAIL_PASSWORD = your_email_password


VERIFICATION_TOKEN_EXPIRY = 10m 
VERIFICATION_BASE_URL = http://localhost:3000 #( your base url for verification links )
VERIFICATION_TOKEN_SECRET = your_verification_token_secret

ACCESS_TOKEN_SECRET = your_access_token_secret
ACCESS_TOKEN_EXPIRY = 1d

REFRESH_TOKEN_SECRET = your_refresh_token_secret
REFRESH_TOKEN_EXPIRY = 1d

ALLOWED_CORS_ORIGIN =  http://localhost:5173 ( your frontend url )